@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&family=Quicksand:wght@400;700&display=swap');
@import "reset";

$VAR: #aaa;

.content{
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 10px;
}
// RESPONSIVIDADE
@media only screen and (max-width: 1024px){
	
}
@media only screen and (max-width: 768px){
	
}
// ANIMAÇÕES
.show{
	animation: show 0.5s forwards;
	-webkit-animation: show 0.5s forwards;
}
.hide{
	animation: hide 0.5s forwards;
	-webkit-animation: hide 0.5s forwards;
}
@keyframes show {
	0% {opacity: 0;transform: translateY(-20%)}
	90% {opacity: 1;transform: translateY(0)}
}
@keyframes hide {
	0% {opacity: 1;transform: translateY(0)}
	90% {opacity: 0;transform: translateY(-20%)}
}
@keyframes aparecer {
	100% {opacity: 1;transform: translateX(0);}
}